<template>
    <form :class="css"  :action="action" :method="defineMethod" :enctype="enctype">
        <input v-if="alteraMethod" type="hidden" name="_method" :value="alteraMethod">
        <input v-if="token" type="hidden" name="_token" :value="token">
        <slot></slot>
    </form>
</template>

<script>
    export default {
        name: "Formulario",
        props: ['css', 'action', 'method', 'enctype', 'token'],
        data() {
            return {
                alteraMethod: ""
            }
        },
        computed: {
            defineMethod: function () {
                if(this.method.toLowerCase() === 'post' || this.method.toLowerCase() === 'get') {
                    return this.method.toLowerCase();
                }
                if(this.method.toLowerCase() === 'put') {
                    this.alteraMethod = this.method;
                }
                if(this.method.toLowerCase() === 'delete') {
                    this.alteraMethod = this.method;
                }
                return "post"
            }
        }
    }
</script>

<style scoped>

</style>