<template>
    <div class="container">
        <div class="row">
            <div :class="defineTamanho">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Pagina",
        props: ['tamanho'],
        computed: {
            defineTamanho: function () {
                if (this.tamanho >= 12) {
                    return "col-sm-12 col-md-12 col-lg-12"
                }
                if (this.tamanho <= 4) {
                    return "col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4"
                }
                if ((this.tamanho % 2) === 0) {
                    return `col-sm-${this.tamanho} col-md-${this.tamanho} col-lg-${this.tamanho} col-sm-offset-${(12 - this.tamanho)/2} col-md-offset-${(12 - this.tamanho)/2} col-lg-offset-${(12 - this.tamanho)/2}`
                } else {
                    let novoTamanho = 1 + parseInt(this.tamanho);
                    return `col-sm-${novoTamanho} col-md-${novoTamanho} col-lg-${novoTamanho} col-sm-offset-${(12 - novoTamanho)/2} col-md-offset-${(12 - novoTamanho)/2} col-lg-offset-${(12 - novoTamanho)/2}`
                }

            }
        }
    }
</script>

<style scoped>

</style>