<template>
    <div class="panel" :class="defineCor">
        <div class="panel-heading">{{titulo}}</div>

        <div class="panel-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Painel",
        props: ['titulo', 'cor'],
        computed: {
            defineCor: function () {
                return this.cor || "panel-default"
            }
        }
    }
</script>

<style scoped>
    .blue {
        border-color: #0d4a96;
    }
    .blue > .panel-heading {
        color: #fff;
        background-color: #0d4a96;
        border-color: #0d4a96;
    }

</style>