<template>
    <div>
        <div class="form-inline">
            <a v-if="criar && !modal" :href="criar">Criar</a>
            <modallink v-if="criar && modal" tipo="link" nome="adicionar" titulo="Criar" css=""/>

            <div class="form-group pull-right">
                <input class="form-control" type="search" placeholder="Buscar" v-model="buscar">
            </div>
        </div>
        <table class="table table-hover table-striped table-condensed table-bordered">
            <thead>
            <tr>
                <!--<th v-for="titulo in titulos">{{titulo}}</th>-->
                <th style="cursor:pointer" @click="ordenaColuna(index)" v-for="(titulo, index) in titulos">{{titulo}}</th>
                <th v-if="detalhe || editar || deletar">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in lista">
                <td v-for="i in item">{{i}}</td>
                <td v-if="detalhe || editar || deletar">
                    <form :id="index" v-if="deletar && token" :action="deletar" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" :value="token">

                        <a v-if="detalhe && !modal" :href="detalhe">Detalhe |</a>
                        <modallink v-if="detalhe && modal" :item="item" :url="detalhe" tipo="link" nome="detalhe" titulo="Detalhe |" css=""/>

                        <a v-if="editar && !modal" :href="editar">Editar |</a>
                        <modallink v-if="editar && modal" :item="item" :url="editar" tipo="link" nome="editar" titulo="Editar |" css=""/>
                        <a v-if="deletar" href="#" @click="executaForm(index)">Deletar</a>
                    </form>
                    <span v-if="!token">
                        <a v-if="detalhe && !modal" :href="detalhe">Detalhe |</a>
                        <modallink v-if="detalhe && modal" :item="item" :url="detalhe" tipo="link" nome="detalhe" titulo="Detalhe |" css=""/>

                        <a v-if="editar && !modal" :href="editar">Editar |</a>
                        <modallink v-if="editar && modal" :url="editar" tipo="link" nome="editar" titulo="Editar |" css=""/>
                        <a v-if="deletar" :href="deletar">Deletar</a>
                    </span>
                    <span v-if="token && !deletar">
                        <a v-if="detalhe && !modal" :href="detalhe">Detalhe |</a>
                        <modallink v-if="detalhe && modal" :item="item" :url="detalhe" tipo="link" nome="detalhe" titulo="Detalhe |" css=""/>

                        <a v-if="editar && !modal" :href="editar">Editar</a>
                        <modallink v-if="editar && modal" :url="editar" tipo="link" nome="editar" titulo="Editar |" css=""/>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TabelaLista",
        props:['titulos','itens','ordem','ordemcol','criar','detalhe','editar','deletar','token', 'modal'],
        data: function(){
            return {
                buscar:'',
                ordemAux: this.ordem || "asc",
                ordemAuxCol: this.ordemcol || 0
            }
        },
        methods:{
            executaForm: function(index){
                document.getElementById(index).submit();
            },
            ordenaColuna: function(coluna){
                this.ordemAuxCol = coluna;
                if(this.ordemAux.toLowerCase() === "asc"){
                    this.ordemAux = 'desc';
                }else{
                    this.ordemAux = 'asc';
                }
            }
        },
        computed:{
            lista:function(){

                let ordem = this.ordemAux;
                let ordemCol = this.ordemAuxCol;
                ordem = ordem.toLowerCase();
                ordemCol = parseInt(ordemCol);

                if(ordem === "asc"){
                    this.itens.sort(function(a,b){
                        if (Object.values(a)[ordemCol] > Object.values(b)[ordemCol] ) { return 1;}
                        if (Object.values(a)[ordemCol] < Object.values(b)[ordemCol] ) { return -1;}
                        return 0;
                    });
                }else{
                    this.itens.sort(function(a,b){
                        if (Object.values(a)[ordemCol] < Object.values(b)[ordemCol] ) { return 1;}
                        if (Object.values(a)[ordemCol] > Object.values(b)[ordemCol] ) { return -1;}
                        return 0;
                    });
                }
                if(this.buscar) {
                    return this.itens.filter(res => {
                        res = Object.values(res);
                        for(let k = 0;k < res.length; k++){
                            if((res[k] + "").toLowerCase().indexOf(this.buscar.toLowerCase()) >= 0){
                                return true;
                            }
                        }
                        return false;
                    });
                } else {
                    return this.itens;
                }
            }
        }
    }
</script>

<style scoped>

</style>